﻿@model csis265final.Models.Bug

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bug</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Issue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resolution)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateReported)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateReported)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateDue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCompleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCompleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReportedByUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportedByUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedToUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedToUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
