﻿@model IEnumerable<csis265final.Models.SoftwareApp>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purpose)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Purpose)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
Sort by:
<ul>
    <li><a asp-page="/Bugs/Dates">Dates</a></li>
    <li><a asp-page="/Bugs/Priority">Priority</a></li>
    <li><a asp-page="/Bugs/Status">Status</a></li>
    <li><a asp-page="/SoftwareApps/SoftwareAppsBugs">Software App Bugs</a></li>
</ul>