﻿@page
@model csis265final.Pages.Bugs.PriorityModel
@{
    ViewData["Title"] = "Priority";
}

<h2>Priority</h2>


@Model.Quote
Sort by:
<ul>
    <li><a href="/Bugs/Dates">Dates</a></li>
    <li><a href="/Bugs/Priority">Priority</a></li>
    <li><a href="/Bugs/Status">Status</a></li>
    <li><a href="/SoftwareApps/SoftwareAppsBugs">Software App Bugs</a></li>
</ul>
<a href="../bug">Back to Bug List</a>
<a href="../softwareapp">Back to Software App List</a>
<a href="../home">Home</a>