﻿@page
@model csis265final.Pages.SoftwareApps.SoftwareAppsBugsModel
@{
    ViewData["Title"] = "SoftwareAppsBugs";
}

<h2>SoftwareAppsBugs</h2>


<a href="../bug/index">See Bugs</a>
<a href="../softwareapp">Back to Software App List</a>
<a href="../home">Home</a>